extends layout

block content
	h1(class="heading-1") #{count} images found in total
	h2(class="heading-2") Displaying #{limit} images per page
	a(href="/files/#{currPage}?limit=50" class="limit-link") [50] 
	a(href="/files/#{currPage}?limit=100" class="limit-link") [100] 
	a(href="/files/#{currPage}?limit=500" class="limit-link") [500] 
	a(href="/files/#{currPage}?limit=1000" class="limit-link") [1000] 
	a(href="/files/#{currPage}?limit=3000" class="limit-link") [3000] 
	h3(class="heading-3") Current page: #{currPage}
	form#formGetFiles(name="getimages",method="post",action="/getimages")
		button#btnSubmit(type="submit") Fetch images
	div(class="link-wrapper")
		a(href="/files/#{previousPage}" class="previous-page-link") Previous Page
		a(href="/files/#{nextPage}" class="next-page-link") Next Page
	table
		tr
			th Nr
			th Index
			th Access Time
			th Birth Time
		each file, i in list
			tr
				td #{(currPage - 1) * limit + (i + 1)}
				td #{file.index}
				td #{file.stats.atime}
				td #{file.stats.birthtime}
	div(class="link-wrapper")
		a(href="/files/#{previousPage}" class="previous-page-link") Previous Page
		a(href="/files/#{nextPage}" class="next-page-link") Next Page
