extends layout

block content
	h1 Image Indexer
	p Fetching all the images is probably gonna take some time
	p You will be redirected once all the images have been processed
	form#formGetFiles(name="getimages",method="post",action="/getimages")
		button#btnSubmit(type="submit") Fetch images
	img(src="images/atli.jpg" class="front-page-image")
