body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.front-page-image {
	height: 200px;
	margin: 20px;
}

a {
  color: black;
}

.limit-link {
	text-decoration: none;
}

.link-wrapper {
	height: 20px;
}

.previous-page-link {
	float: left;
}

.next-page-link {
	float: right;
}

table { 
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%; 
	border-collapse: 
	collapse; border-spacing: 0; 
}

td, th { 
	border: 1px solid transparent; /* No more visible border */
	height: 30px; 
	transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
	background: #DFDFDF;  /* Darken header a bit */
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */